<%= form_with url: "/subscribe", html: {class: "mt-6 w-full flex flex-col gap-y-4" } do |form| %>
  <div class="flex flex-row gap-y-4">
    <div class="flex-grow flex flex-row rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
      <div class="flex-grow pl-3 pb-1.5 pt-2.5 ">
        <label for="email" class="block text-xs font-medium text-gray-200">
          <%= t("ui.footer.mailing_list.label") %>
        </label>
        <input
          type="email"
          name="email"
          id="email"
          class="block bg-transparent w-full border-0 p-0 text-gray-200 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
          required
          placeholder="<%= t("ui.footer.mailing_list.placeholder") %>"
        />
      </div>
      <button class="mr-2 mt-2 mb-2 group relative isolate flex-none rounded-md py-1.5 text-[0.8125rem]/6 font-semibold text-white pl-2.5 pr-[calc(9/16*1rem)]" type="submit">
        <span class="absolute inset-0 rounded-md bg-gradient-to-b from-white/80 to-white opacity-10 transition-opacity group-hover:opacity-15"></span>
        <span class="absolute inset-0 rounded-md opacity-7.5 shadow-[inset_0_1px_1px_white] transition-opacity group-hover:opacity-10"></span>
        <%= t("home.index.subscribe_button") %>
        <span aria-hidden="true">→</span>
      </button>
    </div>
  </div>
<% end %>