<div class="bg-black h-svh flex items-center justify-center text-white">

  <div class="w-full h-full max-w-[64rem] max-h-[48rem] border-red-100 relative">

    <div class="absolute top-0 right-0 bottom-0 left-0 flex flex-col z-20 py-8">

      <div class="flex flex-row gap-x-2 items-center self-start px-8">
        <img src="/starw.png" class="w-[20px]" />
        <h1 class="text-xl font-bold">
          kollektivavtal.nu
        </h1>
      </div>

      <p class="uppercase flex flex-col pt-16 text-5xl xs:text-6xl md:text-7xl lg:text-9xl flex-grow self-center justify-center px-8 w-full max-w-[10ch]">
        <span class="self-start">The</span>
        <span class="self-center">time is</span>
        <span class="self-end">now</span>
      </p>

      <ol class="px-8">
        <li>Collective power</li>
        <li>Collective bargaining</li>
        <li>Collective gain</li>
      </ol>

    </div>

    <img src="/planet.webp" class="absolute right-0 top-16 sm:top-0 z-10 w-32 sm:w-48 md:w-64" />

  </div>

</div>

<div class="bg-black h-svh flex items-center justify-center text-white relative">

  <div class="w-full h-full max-w-[64rem] max-h-[48rem] border-red-100 relative z-10 flex flex-col p-8 justify-between lg:flex-row lg:gap-x-8 lg:items-end">

    <h2 class="text-5xl uppercase flex flex-col sm:text-8xl min-w-max">
      <span class="">Plain and</span>
      <span class="">simple</span>
    </h2>

    <p class="text-2xl sm:text-4xl lg:text-2xl">
      An information hub that is accessible to immigrants and the younger workforce alike.
      Your rights all presented in simple terms.
      The latest news of organising in your industry collected for you.
    </p>

  </div>

  <img src="/space.webp" class="absolute top-0 right-0 bottom-0 left-0 opacity-50 object-cover h-full w-full" />
</div>