<div class="deck">

  <div class="slot">

    <div class="slide bg-black text-white">

      <div class="
        absolute
        top-0
        right-0
        bottom-0
        left-0
        bg-fixed
      " style="
        background-image: url('/planet.webp');
        background-size: clamp(64px, 18vw, 256px);
        background-position: top 1rem right 0.2rem;
        background-repeat: no-repeat;
        background-origin: content-box;
      "></div>

      <div class="
        flex
        flex-col
        gap-x-2
        xxs:flex-row
      ">
        <img
          class="
            aspect-square
            h-[25px]
            w-[25px]
          "
          src="/starw.png"
        />
        <h1 class="font-bold">
          kollektivavtal.nu
        </h1>
      </div>

      <div class="
        font-major
        lowercase
        flex
        flex-row
        flex-wrap
        gap-x-3
        w-full
        slide-heading
        xxs:flex-col
        xxs:w-full
        xxs:max-w-[9ch]
        xxs:justify-self-center
        xxs:justify-center
        xxs:self-center
        xxs:flex-grow
      ">
        <span class="self-start">The</span>
        <span class="self-start xxs:pl-[1ch]">time is</span>
        <span class="self-start xxs:pl-[6ch]">now</span>
      </div>

      <ol class="
        font-light
        flex
        flex-col
        justify-end
        slide-text
      ">
        <li>Collective power</li>
        <li>Collective bargaining</li>
        <li>Collective gain</li>
      </ol>

    </div>

  </div>

  <div class="slot relative bg-black">

    <div class="
      absolute
      top-0
      right-0
      bottom-0
      left-0
      bg-fixed
      opacity-30
    " style="
      background-image: url('/space.webp');
      background-position: center;
      background-origin: content-box;
    "></div>

    <div class="
      slide
      relative
    text-white
      xxs:landscape:grid
      xxs:landscape:items-center
      xxs:landscape:grid-cols-2
      xxs:portrait:justify-evenly
    ">


      <h2 class="
        lowercase
        font-major
        flex
        flex-row
        flex-wrap
        gap-x-3
        xxs:landscape:flex-grow
        slide-heading
      ">
        <span class="">Plain and</span>
        <span class="">simple</span>
      </h2>

      <p class="
        font-light
        xxs:landscape:flex-grow
        slide-text
      ">
        An information hub that is accessible to immigrants and the younger workforce alike.
        Your rights all presented in simple terms.
        The latest news of organising in your industry collected for you.
      </p>

    </div>

  </div>

  <div class="slot">
    <div class="
      slide
      bg-black
      text-white
      xxs:flex
      xxs:flex-col
      xxs:landscape:justify-evenly
    ">

      <h2 class="
        font-major
        lowercase
        xxs:landscape:text-center
        slide-heading
      ">
        Small or big, choose your own capacity to engage
      </h2>

      <ol class="
        flex
        flex-col

        xxs:portrait:flex-grow
        xxs:justify-evenly
        xxs:landscape:flex-row
        xxs:landscape:w-full
      ">
        <% list = [
          { img: "c1.webp", text: "Share resources with your colleagues" },
          { img: "c2.webp", text: "Start new clubs and organise at your workplace" },
          { img: "c3.webp", text: "Join network, meetups, and seminars" }
        ] %>
        <% list.each do |item| %>
          <li class="
            flex
            flex-col
            xxs:gap-y-4
            xxs:portrait:text-center
          ">
            <img src="<%= item[:img] %>" class="
              h-16
              object-contain
              self-start
              xxs:self-center
              lg:h-32
            " />
            <span class="slide-text"><%= item[:text] %></span>
          </li>
        <% end %>
      </ol>

    </div>
  </div>

  <div class="slot">
    <div class="
      slide
      bg-black
      text-white
      xxs:flex
      xxs:landscape:flex-row
      xxs:landscape:items-center
      xxs:portrait:flex-col
      xxs:portrait:justify-between
    ">


      <h2 class="
        lowercase
        font-major
        slide-heading
        xxs:landscape:flex-1
      ">
        Focus
      </h2>

      <ol class="
        flex
        flex-col
        flex-grow
        xxs:landscape:flex-1
        xxs:landscape:h-full
        xxs:landscape:justify-evenly
        xxs:portrait:justify-evenly
      ">
        <% list = [
          { text: "What are unions? Which one should I join? What's in it for me?", word: "Start"},
          { text: "Pensions in Sweden, unemployment insurance, work environment laws.", word: "Learn" },
          { text: "How to organise, become a local representative, develop yourself and your workplace.", word: "Engage" }
        ] %>
        <% list.each do |item| %>
          <li class="
            flex
            flex-col
            xxs:gap-y-4
          ">
            <h3 class="
              lowercase
              slide-subheading
              font-major
            "><%= item[:word] %></h3>
            <span class="
              slide-text
            "><%= item[:text] %></span>
          </li>
        <% end %>
      </ol>

  


    </div>
  </div>

  <div class="slot bg-white">
    <div class="
      slide
      bg-white
      text-black
      xxs:flex
      xxs:flex-col
      xxs:justify-evenly
    ">

      <h2 class="
        lowercase
        font-major
        xxs:flex
        xxs:flex-col
        md:text-3xl
        lg:text-6xl
        font-extrabold
        whitespace-nowrap
      ">
        <span class="pl-[1ch]">By the working class</span>
        <span class="">For the working class</span>
      </h2>

      <ul class="
        slide-text
      ">
        <li>No political affiliation</li>
        <li>No union affiliation</li>
        <li>No profit motive</li>
      </ul>

      <p class="
        lowercase
        font-bold
        font-major
        xxs:flex
        xxs:flex-col
        slide-subheading
        md:text-2xl
        lg:text-5xl
        whitespace-nowrap
      ">
        <span class="">Collective power for</span>
        <span class="">collective gain
      </p>

      <div class="
        flex
        flex-col
        xxs:flex-row
        xxs:items-center
        xxs:gap-x-2
      ">
        <img src="/starb.png" class="aspect-square w-[20px]" />
        <span class="text-xl font-bold">
          kollektivavtal.nu
        </span>
      </div>

    </div>
  </div>

</div>