<div class="bg-black h-lvh flex flex-col relative text-white">

  <div class="absolute top-0 right-0 bottom-0 left-0 flex flex-col z-20 py-8">

    <div class="flex flex-row gap-x-2 items-center self-start px-8">
      <img src="/starw.png" class="w-[20px]" />
      <h1 class="text-xl font-bold">
        kollektivavtal.nu
      </h1>
    </div>

    <p class="uppercase flex flex-col pt-16 text-5xl xs:text-7xl md:text-9xl flex-grow self-center justify-center px-8 w-full max-w-[10ch]">
      <span class="self-start">The</span>
      <span class="self-center">time is</span>
      <span class="self-end">now</span>
    </p>

    <ol class="px-8">
      <li>Collective power</li>
      <li>Collective bargaining</li>
      <li>Collective gain</li>
    </ol>

  </div>

  <img src="/planet.webp" class="absolute right-0 top-16 z-10 w-32 sm:w-48 md:w-64" />

</div>