<div class="w-full lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] justify-start">
  <div class="flex flex-col">

    <%= render partial: "ui/heading-plus-subheading", locals: {
      heading: t("labour_market.collective_agreements"),
      subheading: t("labour_market.collective_agreements_subheading")
    } %>

    <div class="mt-8 flow-root">
      <%= render partial: "labour_market/agreements/grid", locals: {
        agreements: @agreements
      } %>
    </div>

  </div>

</div>
