<div class="max-w-sm aspect-square relative overflow-hidden rounded-xl bg-slate-100 [&+*]:mt-8 border-slate-200 border-2 <%= div %>">
  <img
    class="h-full w-full object-center <%= img %>"
    alt="<% alt %>" 
    src="<%= src %>"
  />
</div>