<article class="flex flex-col w-full">
  <div class="absolute top-[48px] left-0 right-0 w-full h-[256px] lg:h-[400px]">
    <img alt="Apple to Turn IPhones Into Payment Terminals in Fintech Push" loading="lazy" decoding="async" data-nimg="fill" class="relative top-0 left-0 right-0 bottom-0 h-full object-cover w-full" sizes="100vw" src="https://storage.googleapis.com/kollektivavtal/jqeqf5w1ghvt53b9ziifzuiyb1vu">
  </div>

  <header class="flex flex-col pt-[256px] lg:pt-[400px] w-full flex-grow gap-y-4 border-b-zinc-200 border-b pb-8 items-center">

    <div class="flex flex-col w-full gap-y-8 flex-grow max-w-[650px] ">
      <a class="text-red-800 font-semibold uppercase" href="/categories/technology">
        Opinion
      </a>
      <h2 class="leading-8 text-4xl">
        Unions Are Good, Actually
      </h2>
      <p class="prose lg:text-md">
        The naughty man said unions are bad but he is wrong.
        Actually, unions are good.
        In fact, unions are how we're going to save the world.
        Here's why collective power is the only way we're getting to the end of this century intact.
      </p>
    </div>

    <div class="flex flex-row items-center gap-x-2 mt-3 w-full md:w-[650px] justify-start">
      <a class="" href="#">
        <img loading="lazy" decoding="async" data-nimg="fill" class="inline-block h-8 w-8 rounded-lg" src="https://media.istockphoto.com/id/1327592506/vector/default-avatar-photo-placeholder-icon-grey-profile-picture-business-man.jpg?s=612x612&w=0&k=20&c=BpR0FVaEa5F24GIw7K8nMWiiGmbb8qmhfkpXcp1dhQg=">
      </a>
      <div class="flex flex-row gap-x-1 items-center">
        <span class="dHctaGlkZGVu dHctdGV4dC1ncmF5LTUwMA sm:dHctaW5saW5lLWJsb2Nr">
          By
        </span>
        <a class="font-semibold whitespace-nowrap" href="/authors/mark-jack">
          Clara Zetkin
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 ml-3 stroke-slate-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5">
          </path>
        </svg>
        <time class="dHctbWwtMQ dHctdGV4dC1ncmF5LTUwMA" datetime="2022-04-20T10:56:47.000Z">
          April 20, 2022
        </time>
        <span class="flex-row gap-y-1 hidden lg:flex ml-3 items-center gap-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 stroke-slate-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z">
            </path>
          </svg>
          <span class="whitespace-nowrap">
            6 min read
          </span>
        </span>
      </div>

    </div>
  </div>
</header>

<div class="prose pb-8 px-4 md:px-0">
<p>
Aliqua venenatis gravida et urna molestie leo adipiscing dolore leo euismod quam. Aenean porta curabitur convallis pellentesque velit platea at neque phasellus. Aliquet pellentesque senectus velit magna ultrices iaculis justo habitasse vitae neque ornare nullam leo. Est facilisis mauris purus senectus nunc convallis praesent pharetra dictum dui molestie iaculis.</p>
<h2>An awesome heading</h2>
<p>Lorem ipsum dolor sit amet aliqua enim hac. Diam eros adipiscing aliquam nisi do augue mattis sodales turpis lectus a. Curabitur nullam sodales phasellus donec nec pharetra quisque. Nec mi congue lobortis eget aliqua donec diam sollicitudin eu phasellus facilisi dictumst. Venenatis volutpat mi sodales facilisi quisque pulvinar luctus eros est malesuada risus porta sed id.</p>
<p>Lorem ipsum dolor sit amet curabitur malesuada vel praesent magna tincidunt.</p>
Lorem ipsum dolor sit amet netus viverra neque quisque nisi mattis dapibus dictumst. Erat venenatis iaculis a tellus a auctor cursus morbi neque molestie incididunt faucibus.</p>
<ul>
<li>Urna magna mauris hendrerit molestie rhoncus enim magna tempor nisi.</li>
<li>Lorem ipsum dolor sit amet tempus bibendum dolore ida.</li>
<li>Eget consectetur orci sodales purus ac egestas consequat erat mattis mi sapien adipiscing hac.</li>
<li>Lorem ipsum dolor sit amet lobortis risus nisi lacus quisque porttitor fermentum arcu adipiscing.</li>
</ul>
<p>Lorem ipsum dolor sit amet <strong>bold text</strong> quam luctus praesent id.Gravida donec morbi incididunt enim sed sollicitudin malesuada tempus.</p>
</div>