<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="flex flex-col">

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <% if @organisation_type == :central_union %>
        <%= t("labour_market.central_unions") %>
      <% elsif @organisation_type == :employer_association %>
        <%= t("labour_market.employer_associations") %>
      <% elsif @organisation_type == :local_union %>
        <%= t("labour_market.local_unions") %>
      <% end %>
    </h1>

    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <%= render partial: "labour_market/organisations/list", locals: {
            organisations: @organisations
          } %>
        </div>
      </div>
    </div>
  </div>

</div>
