<div class="flex flex-col">

  <%= render partial: "ui/breadcrumbs", locals: {
    links: [
      { href: labour_market_path, text: t("labour_market.root") },
    ]
  } %>

  <%= render partial: "ui/heading-plus-subheading", locals: {
    heading: case @organisation_type
      when :central_union
        t("labour_market.central_unions")
      when :employer_association
        t("labour_market.employer_associations")
      when :local_union
        t("labour_market.local_unions")
    end,
    subheading: t("labour_market.central_unions_subheading")
  } %>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= render partial: "labour_market/organisations/list", locals: {
          organisations: @organisations
        } %>
      </div>
    </div>
  </div>
</div>

