<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg flex flex-col">

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <%= t("labour_market.root") %>
    </h1>

    <% links = [
      { href: central_unions_path, text: t("labour_market.central_unions") },
      { href: local_unions_path, text: t("labour_market.local_unions") },
      { href: collective_agreements_path, text: t("labour_market.collective_agreements") },
      { href: employer_associations_path, text: t("labour_market.employer_associations") },
    ] %>

    <ol class="list-disc mt-4 ml-4">
      <% links.each do |link| %>
        <li>
          <a
            class="text-sky-600 underline"
            href="<%= link[:href] %>"
          ><%= link[:text] %></a>
        </li>
      <% end %>
    </ol>

  </div>

  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg max-w-sm">
      <img alt="" class="h-full w-full object-cover object-center" src="https://placehold.co/512x512" />
    </div>
  </div>

</div>
