<div class="flex flex-col gap-y-4">

  <div class="flex flex-col gap-y-1">
    <h1 class="font-bold text-4xl m-0">
      Collective Agreements
    </h1>
  </div>


  <ol>
    <% @agreements.each do |agreement| %>
      <li>
        <a class="text-underline text-blue-600" href="/labour-market/collective-agreements/<%= agreement.slug %>">
          <%= agreement.name_sv %>
        </a>
      </li>
    <% end %>
  </ol>

</div>