@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .deck {
    @apply bg-black flex flex-col;
  }

  .slot {
    @apply xxs:grid xxs:place-content-center xxs:max-w-full xxs:overflow-x-hidden;
  }

  .slide {
    @apply flex flex-col w-full xxs:p-4
    xxs:mx-auto
    xxs:landscape:aspect-[2/1] 
    xxs:landscape:h-[100vw] 
    xxs:landscape:max-w-screen-2xl 
    xxs:landscape:max-h-[min(50vw,100svh)] 
    xxs:portrait:aspect-[1/2] 
    xxs:portrait:w-[100vw] 
    xxs:portrait:max-w-[min(50svh,100vw)];
  }

  .slide-heading {
    @apply xs:text-xl md:text-3xl lg:text-6xl font-extrabold  ;
  }

  .slide-subheading {
    @apply xs:text-lg md:text-2xl lg:text-5xl;
  }

  .slide-text {
    @apply font-light xs:text-lg;
  }

}

@keyframes now {
   0% { transform: scale(1.00); }
  10% { transform: scale(1.00); }
  12% { transform: scale(1.08) skew(0deg); }
  14% { transform: scale(1.00) skew(30deg); }
  15% { transform: scale(1.00) skew(0deg); }
  26% { transform: scale(1.00) skew(0deg); }
  28% { transform: scale(1.08) skew(-60deg); }
  30% { transform: scale(1.00) skew(0deg); }
  100% { transform: scale(1.00); }
}

.now {
  animation: now 2048ms forwards 2048ms 2;
}

.agreement {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    'agreement-head'
    'agreement-meta'
    'agreement-body';
  row-gap: 2rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 64rem) {
  .agreement {
    justify-content: flex-start; /* justify-start */
    column-gap: 2rem; /* lg:gap-x-8 */
    grid-template-columns: 38rem 24rem;
    grid-template-rows: auto min-content;
    grid-template-areas:
      'agreement-head agreement-meta'
      'agreement-body agreement-meta';
  }
}

.agreement-head {
  grid-area: agreement-head;
  max-width: 100%;
}

.agreement-meta {
  grid-area: agreement-meta;
}

@media (min-width: 64rem) {
  .agreement-meta {
    width: max-content;
  }
}

.agreement-body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  grid-area: agreement-body;
  max-width: 100%;
}
